.wrapper {
    width: 400px;
    background-color: white;
    margin: auto;
    padding: 24px 32px;
    border-radius: 8px;
    box-shadow: 1px 1px 20px rgb(204, 199, 199);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;

    .logo {
        width: 140px;
        height: 140px;
        margin-bottom: 12px;
    }


    .heading {
        font-size: 2.4rem;
        margin-bottom: 6px;
    }

    .des {
        font-size: 1.2rem;
        color: #7d909e;
    }
}

.form {
    &-group+.form-group {
        margin-top: 12px;
    }

    &-label {
        display: block;
        width: 100%;
        font-size: 1.5rem;
        margin-bottom: 6px;

    }

    &-control {
        display: block;
        width: 100%;
        font-size: 1.3rem;
        padding: 6px 12px;
        border-radius: 4px;
        border: 1px solid #dce6ed;
    }

    &-radios {
        margin-top: 12px;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5rem;

        div {
            display: flex;
            align-items: center;
        }
    }

    &-radio {
        cursor: pointer;
        margin-left: 12px;
    }

}

.message {
    margin: 12px 0;
    text-align: center;
    font-size: 1.2rem;
    color: var(--success-color);

    &.error {
        color: var(--error-color);
    }
}

.utils {
    margin-top: 12px;
    font-size: 1.3rem;
    text-align: center;

    .login {
        color: var(--primary-color);
        font-weight: 500;
    }
}

.btn {
    width: 100%;
    height: 32px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 4px;

    &:hover {
        cursor: pointer;

    }
}