@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --white-color: #fff;
    --text-color: #BFBFBF;
    --text-dark-color: #001a33;
    --black-color: #000;
    --primary-color: #00ACE8;
    --primary-active-color: #006edc;
    --primary-dark-color: #0068ff;
    --error-color: #dd4b39;
    --success-color: #4BB543;
    --icon-color: #BFBFBF;


    --width-sidebar: 376px;
    --width-main-bar: 64px;
    --height-search: 64px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.6rem;
}

button,
input,
textarea,
select,
option {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}

a[href] {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

.mt-auto {
    margin-top: auto !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.ml-0 {
    margin-left: 0px !important;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cdc9c9;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}