.wrapper {
    display: flex;
    height: 100vh;
    width: 100wh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

.content {
    margin: 24px;
    flex: 1;
    overflow-y: overlay;

}