.wrapper {
    width: 60%;
    background-color: white;
    margin: auto;
    border-radius: 8px;
    box-shadow: 1px 1px 20px rgb(204, 199, 199);
    padding-bottom: 24px;
    overflow: hidden;
    text-align: center;

    img {
        margin-bottom: 24px;
    }

    .btn-back {
        flex: none;
    }
}