.tabs {
    display: flex;
}

.action {
    padding: 4px 6px !important;
}

.content {
    margin-top: 12px;

    &-item {
        display: none;

        &.active {
            display: block;
        }


    }

    table {
        font-family: "Roboto", sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    thead tr:first-child {
        td {
            font-weight: 500;
        }
    }

    td {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    tr:nth-child(even) {
        background-color: #E4F0F4;
    }
}




.form {

    &-container {
        display: flex;
    }

    &-photos {
        width: 240px;
        margin-top: 32px;
        margin-right: 16px;
        position: relative;

        img {
            width: 100%;
            height: 300px;
            object-fit: contain;
        }
    }

    &-file {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &-label {
        &:hover {
            cursor: pointer;
        }
    }

    &-heading {
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--black-color);
        margin-bottom: 8px;

        &~& {
            margin-top: 16px;
        }

    }

    &-control {
        border: 1px solid var(--icon-color);
        border-radius: 4px;
        font-size: 1.4rem;
        caret-color: var(--primary-color);
        padding: 6px 10px;

        &+& {
            margin-left: 16px;
        }
    }
}

.sub-menu {
    min-width: 100px;
}


.modal {

    &-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        inset: 0px;
    }

    width: 280px;

    &-heading {
        text-align: center;
        margin-bottom: 12px;
    }

    &-form {
        text-align: center;
    }


    &-actions {
        margin-top: 24px;
        display: flex;
        justify-content: center;
    }
}