.wrapper {
    width: 280px;
    flex-shrink: 0;
    height: 100%;
    padding: 24px 16px;
    box-shadow: 1px 1px 10px rgb(204, 199, 199, 0.4);

    display: flex;
    flex-direction: column;
}

.logo {
    align-self: center;
    width: 100px;
    height: 100px;
    text-align: center;
}

.menu {

    &-list {
        list-style-type: none;
        margin-top: 18px;
    }

    &-heading {
        color: #BFBFBF;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 8px;
    }

    &-item.active {
        .menu-link {
            background-color: #00ACE8;
            color: var(--white-color);

            .menu-icon {
                color: var(--white-color);
            }
        }
    }

    &-link {
        display: block;
        color: var(--black-color);
        font-weight: 500;
        padding: 10px 8px;
        border-radius: 10px;

        &:hover {
            background-color: #00ACE8;
            color: var(--white-color);

            .menu-icon {
                color: var(--white-color);
            }

        }
    }

    &-icon {
        font-size: 1.8rem;
        margin-right: 8px;
        color: #BFBFBF;
    }
}